.icon   {
    font-size: 30px
}
.heady  {
    font-size: 30px;
    font-weight: 700;
    font-family: 'FuturaStd-Bold',sans-serif;
    color: black
}
/* .content {
    color: white;
    background-color: black;
} */
.head  {
    font-size: 30px;
    font-weight: 700;
    font-family: 'FuturaStd-Bold',sans-serif;
    color: black
}
body   {
    font-family: 'FuturaStd-Medium',sans-serif;
}

.abt {
    color: black;
}
.contain {
    width: 100vw;
}
h4  {
    font-size: 25px;
    padding: 10px;
    color: #4a4a4a;
}
.navbar-burger  {
    display: inline;
    position: static;
    color: #4a4a4a !important;
}
.headings   {
    background-color: black;
    color: white;
    font-size: 30px;
    border-radius: 0;
}
.has-text-centered  {
    width: 100%;
}
#info   {
    margin-left: 50px !important;
    flex: auto;
}
.portrait   {
    border-radius: 6px;
}
.boxy {
    padding: 1.25rem;
}


/* Splash Page */
.wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-gap: 0px;
  }
  .one {
    height: 50vh;
    grid-column: 2;
    grid-row: 2;
  }
  @media only screen and (min-width: 600px) {  
  .four {
    height: 10vh;
  }
}

  @media only screen and (max-width: 600px) {
    .four {
      height: 5vh;
    }
  }
  
   .seven {
    height: 30vh;
    text-align: center;
    padding-top: 10vh;
   }
   .eight {
       grid-column: 1 / 4;
       grid-row: 3;
       text-align: center;
       overflow: visible;
       padding-top: 10vh;
       height: 20vh;
   }
   .nine {
       text-align: center;
       padding-top: 10vh;
   }
   .ten {
       text-align: center;
       padding-top: 10vh;
   }
   .button  {
       color: white;
       background-color: black;
       outline: 1px;
       font-size: 30px;
       border-radius: 10px;
       width: 25vw;
       margin-bottom: 5vh;
       font-family: 'FuturaStd-Medium',sans-serif;
   }
   .tile.is-ancestor:last-child {
    margin-bottom: 40px;
    }
   /* .tile {
       flex-grow: 0;
   } */

   .project {
       margin: 0.35rem !important;
   }
   .outer {
    padding-left: 0 !important;
    padding-right: 0 !important;
   }
   @media only screen and (max-width:769px) {
    .button {
        width: 55vw;
    }
   }
   ::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
    @media only screen and (max-width:450px) {

        .eight {
            padding-top: 5vh;
        }
        .nine {
            padding-top: 0vh;
        }
        .one {
            width: 100%;
        }
    }

   .button:hover {
       color: black;
       background-color: white;
       outline-color: black;
   }
   .image {
       width: 100%;
       max-width: 500px;
       margin: auto;
   }
   body {
       background-color: white;
       width: 100vw;
   }
   html {
       background-color: black;
       width: 100vw;
       overflow: auto;
   }
   #develop {
    color: #A8C3FF;
    font-size: 25px;
    display: inline-block;
   }
   .yourbusiness {
    color: white;
    font-size: 25px;
    display: inline-block;
   }
   .h4 {
       color: #4a4a4a !important;
   }
   .footer {
       margin-top: 40px;
   }
   .sublist {
       margin-left: 20px;
       list-style: revert;
   }
   .mainlist {
    margin-left: 20px;
    list-style: disc;
}
  /* .two { 
    grid-column: 2 / 4;
    grid-row: 1 / 3;
  }
  .three {
    grid-column: 1;
    grid-row: 2 / 5;
  } */
  @media only screen and (min-width: 770px) {

    .one {
        height: 65vh;
        width: 35vw;
    }
    .image {
        min-width: 300px;
    }
}
@media only screen and (max-width: 771px) {
    #info   {
        margin-left: 0px !important;
        padding-top: 20px;
    }
    .columns {
        display: flex;
    }
}
@media only screen and (max-width: 550px) {
    .columns{
        display: block;
    }
}
@media only screen and (max-height: 400px) {
    .one, .two, .three, .four, .five, .six, .eight {
        display: none;
    }
}
/* linkedin */
.LI-badge-container.horizontal.light .LI-view-profile {
    float: left;
}
.LI-profile-badge {
    padding-top: 10px;;
}
@media only screen and (min-width: 550px) {
    .LI-badge-container.horizontal.light {
        margin-top: -20px;
    }
}
@media only screen and (max-width: 900px) {
    .image{
        max-width: 320px;
    }
}

.footer {
    padding: 3rem 1.5rem 3rem;
}
.maintile {
    margin-right: 0 !important;
}
.tile.col {
    padding-right: 0;
}