.tile   {
    background-color: white;
    /* background-color: black;
    color: white */
}
.icon   {
    font-size: 30px
}
.heady  {
    font-size: 30px;
    font-weight: 700;
    font-family: 'FuturaStd-Bold',sans-serif;
    color: black
}
.content {
    color: white;
    background-color: black;
}
.head  {
    font-size: 30px;
    font-weight: 700;
    font-family: 'FuturaStd-Bold',sans-serif;
    color: black
}
body   {
    font-family: 'FuturaStd-Medium',sans-serif;
}
.abt {
    color: black;
}
.contain {
    width: 100vw;
}
h4  {
    padding: 5px;
    font-size: 25px;
    padding: 10px;
}
.navbar-burger  {
    display: inline;
    position: static;
}
.headings   {
    background-color: black;
    color: white;
    font-size: 30px;
}
.has-text-centered  {
    width: 100%;
}
#info   {
    margin-left: 10px;
    flex: auto;
}
.portrait   {
    max-height: 600px;
    padding-left: 25px;
}


/* Splash Page */
.wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-gap: 0px;
  }
  .one {
    height: 40vh;
    grid-column: 2;
    grid-row: 2;
  }
  @media only screen and (min-width: 600px) {  
  .four {
    height: 10vh;
  }
}

  @media only screen and (max-width: 600px) {
    .four {
      height: 5vh;
    }
  }
  
   .seven {
    height: 30vh;
    text-align: center;
    padding-top: 10vh;
   }
   .eight {
       grid-column: 1 / 4;
       grid-row: 3;
       text-align: center;
       overflow: visible;
       padding-top: 10vh;
       height: 20vh;
   }
   .nine {
       text-align: center;
       padding-top: 10vh;
   }
   .ten {
       text-align: center;
       padding-top: 10vh;
   }
   .button  {
       color: white;
       background-color: black;
       outline: 1px;
       font-size: 30px;
       border-radius: 10px;
       width: 27.5vw;
       margin-bottom: 5vh;
       font-family: 'FuturaStd-Medium',sans-serif;
   }
   @media only screen and (max-width:900px) {
    .button {
        width: 75vw;
    }
   }
   ::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
   .button:hover {
       color: black;
       background-color: white;
       outline-color: black;
   }
   .image {
       width: 100%;
   }
   body {
       background-color: black;
       width: 100vw;
   }
   html {
       background-color: black;
       width: 100vw;
       overflow: auto;
   }
   #develop {
    color: #A8C3FF;
    font-size: 25px;
    display: inline-block;
   }
   .yourbusiness {
    color: white;
    font-size: 25px;
    display: inline-block;
   }
  /* .two { 
    grid-column: 2 / 4;
    grid-row: 1 / 3;
  }
  .three {
    grid-column: 1;
    grid-row: 2 / 5;
  } */
